# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Misc
coverage/
